.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;


            // .pro-sidebar-inner {
            //     .pro-sidebar-layout {
            //         height        : 100%;
            //         overflow-y    : auto;
            //         overflow-x    : hidden;
            //         position      : relative;
            //         display       : flex;
            //         flex-direction: column;
            //         z-index       : 101;
            //         background    : white;
            //         box-shadow    : rgba(0, 0, 0, 0.24) 0px 3px 8px;
            //     }
            // }
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 40px;
            border: 1px solid green;
        }

        .admin-main {}
    }
}